:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black-color : #3F3844;
  --primary-color : #fbfcfc;
  --baby-blue : #8AAAE5;
  --white : #FFFFFF;
  --abeezee-font: "ABeeZee", sans-serif;
}
