.contactus{
    display: flex;
    flex: 1;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    font-family: var(--abeezee-font);
    font-size: 25px;
    padding: 40px;
    background: linear-gradient(90deg, rgba(138,170,229,1) 35%, rgba(0,212,255,1) 100%);
}

.contactus h1{
    margin-bottom: 5%;
}

.contactus .contact-item{
    padding: 30px;
    border: 1px solid var(--black-color);
    margin-bottom: 6px;
    box-shadow: 2px 2px 0.3px black;
}

.contact-item:first-child{
    background-color: bisque;
}
.contact-item:nth-child(2){
    background-color: cornflowerblue;
}

.contact-item:nth-child(3){
    background-color: violet;
}
.contactus .item{
    display: flex;
    flex-direction: column;
}